#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  background-color:ghostwhite;
  padding: 20px;
}

#container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: floralwhite;
}

button {
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: rgb(44, 43, 43);
}